@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0 auto;
    max-width: 80%;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.uwu{
    background-image: url(./img/header.jpg);
    background-position: center center;
    background-size: cover;

    header{
        padding: 162px;
        text-align: center;
    }
}
.proyectos{
    text-align: center;
    border: 25px;
    font-size: 18px;
    padding-top: 10px;
}
.column-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    align-content: space-between;
    align-items: center;
}
img{
    width: 23%;
    height:23%;
    padding-inline: 52px;
    padding-bottom: 24px;
    padding-top: 24px;
}
.col1{
    flex: 1 50%;
}
.col2{
    flex: 1 50%;
    padding-bottom: 16px;
}

.col{
    background-color: #509ea0;
    text-align: center;
    color: white1;

}

.column-2{
    width: 50%;               
    float: left;
    text-align: center;
}

.column-2 h2{
    text-align: left;
}

.column-2 p{
    text-align: left;
}

.column-3{
    width: 25%;
    float: left;
    text-align: left;
}

.gray {
    background-color: gray;
    padding: 50px;
}

.foot{
    text-align: center;
    color: white;
    border: 5px solid black; 
    border-top: 5px;
    padding: 10px;
}

@media screen and (max-width:600px) {
    .column-2 {
        width: 100%;
    }
}